{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h1>{{ question.subject }}</h1>
글쓴이 : {{question.author}} <br>
<div>
    {{ question.content}}
</div>

{% if question.author == request.User%}
<a href="{% url 'pybo:question_modify' question.id %}">수정하기</a>
{%endif%}

<h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>

<div>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{answer.author}} : {{ answer.content }}</li> 
    {% endfor %}
    </ul>
</div>

<form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea {% if not user.is_authenticated %} disabled {% endif %}
    name="content" id="content" rows="10"></textarea>
    <input type="submit" value="답변등록">
</form>